*.py[cod]
*.so
*.pyc
__pycache__

*.egg
*.egg-info
/dist
/build
eggs
sdist
develop-eggs
.installed.cfg
/lib
/lib64

.project
.pydevproject
.settings

.coverage

*.sqlite

/TODO.txt
/ROADMAP
/build

/private/data
/private/output

/virtualenv
/env

*.sqlite3
*.model.json

*~

/data/
