*.py[cod]
*.so
*.pyc
__pycache__

*.egg
*.egg-info
/dist
/build
eggs
sdist
develop-eggs
.installed.cfg
/lib
/lib64

.project
.pydevproject
.settings

.coverage

*.sqlite

/TODO.txt
/ROADMAP
/build

/datospublicos
/cubelogs
/quini
/private

/virtualenv
/env

*.sqlite3
*.model.json
*.slicer.ini
*.cubes-model.json
*.cubes-config.ini

*~

