*.py[cod]
*.so
*.pyc
__pycache__

*.egg
*.egg-info
/dist
/build
eggs
sdist
develop-eggs
.installed.cfg
/lib
/lib64

.project
.pydevproject
.settings
/.idea

.coverage

*.sqlite

/TODO.txt
/ROADMAP
/build

/examples/output/
/examples/_cache/

/private
/private/data
/private/output

/virtualenv
/env

*.sqlite3
*.model.json

*~

/data/ 
_catalog

